.header {
    background-color: darkslategrey;
    height: 75px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.me {
    grid-column: 1;
    margin-left: 15px;
}

.navbar {
    grid-column: 2;
    text-align: right;
}